@use './variables' as v;
@use './functions' as f;


/* 共通事項
------------------------------------------ */
body {
  font-family: v.$f-main;
  line-height: v.$lh-main;
  @include v.rem(16);
  color: v.$c-base;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: contain;
}

a {
  color: v.$c-base;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

ul {
  list-style: none;
}