@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* 見出し */
h2 {
  font-size: f.rem(40);
  line-height: 1.2;
  text-align: center;
  color: v.$c-dark;

  @include v.mq(pc) {
    font-size: f.rem(60);
  }

  & span {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 30px;
      height: 30px;
      background-color: v.$c-purple;
      border-radius: 50%;
      z-index: -1;
      transform: translate(-77%, -95%);

      @include v.mq(pc) {}
      width: 40px;
      height: 40px;
    }
  }
}