@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

.container {
  margin: 0 auto;
  padding: 0 f.rem(16);

  @include v.mq(pc) {
    padding: 0 f.rem(22);
    width: 100%;
    max-width: v.$width-wide;
  }
}

/* SP版では左寄せ、PC版では中央寄せ*/
.text-center {
  @include v.mq(pc) {
    text-align: center;
  }
}