@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

.container {
  margin: 0 auto;
  padding: 0 f.rem(16);

  @include v.mq(pc) {
    padding: 0 f.rem(22);
    width: 100%;
    max-width: v.$width-main;
  }
}