@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* About Me
------------------------------------------ */

.about {
  margin: f.rem(40) auto f.rem(60);

  &__item {
    padding-top: f.rem(16);
    padding-bottom: f.rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: f.rem(20);

    @include v.mq(pc) {
      padding-top: 0;
      padding-bottom: 0;
      flex-direction: row-reverse;
      gap: f.rem(40);

    }
  }

  &__right {
    @include v.mq(pc) {
      width: 50%;
    }
  }

  &__left {
    & img {
      width: f.rem(250);
      border-radius: 0 50px 0 50px;
    }

  }
}