@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* cover
------------------------------------------ */

.cover {
  background-color: v.$c-orange;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: f.rem(100);
    padding-bottom: f.rem(100);
    gap: f.rem(20);

    @include v.mq(pc) {
      padding-top: f.rem(145);
      padding-bottom: f.rem(138);
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: f.rem(44);
    }
  }

  &__left {
    & img {
      width: f.rem(180);
      height: f.rem(180);
      border-radius: 50%;
      object-fit: cover;
      object-position: bottom;

      @include v.mq(pc) {
        width: f.rem(260);
        height: f.rem(260);
      }
    }
  }

  &__right {
    padding-left: 16px;
    padding-right: 16px;
    color: v.$c-dark;

    & a {
      color: v.$c-dark;
      text-decoration: underline;
      text-underline-offset: 5px;

      &:hover {
        color: v.$c-white;
      }
    }
  }

  &__title {
    background-color: v.$c-white;
    color: v.$c-orange-dark;
    padding: 5px 16px;
    margin-bottom: 18px;

    @include v.mq(pc) {
      margin-bottom: 30px;
    }

    & p {
      @include v.mq(pc) {
        font-size: f.rem(20);
      }
    }

    & h1 {
      font-size: f.rem(36);
      line-height: 1.2;

      @include v.mq(pc) {
        font-size: f.rem(56);
      }
    }
  }
}