@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* footer
------------------------------------------ */

.footer {
  background-color: v.$c-orange-dark;
  height: f.rem(52);
  font-size: f.rem(12);
  text-align: center;
  color: v.$c-white;
  display: flex;
  justify-content: center;
  align-items: center;
}