@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* header
------------------------------------------ */
.header {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 90vw;
  padding-left: 6vw;
  padding-right: 6vw;
  z-index: 100;
  background-color: v.$c-orange-dark;
  border-radius: 30px;
  overflow: visible;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: v.$width-wide;

  // ロゴ
  &__logo {
    color: v.$c-white;
    font-size: f.rem(28);
  }

  @include v.mq(sp) {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}

/* ハンバーガーボタン
------------------------------------------ */
.hamburger {
  &__button {
    font-size: f.rem(33);
    display: flex;
    align-items: center;
    justify-content: center;
    color: v.$c-white;
    grid-column: 2;
    grid-row: 1;

    @include v.mq(pc) {
      display: none;
    }
  }
}



/* ハンバーガーメニュー
------------------------------------------ */
.hamburger-nav-list a {
  color: v.$c-white;
  font-size: f.rem(20);
}

@include v.mq(sp) {
  .hamburger-menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background-color: v.$c-orange-dark;
    grid-column: 1 / -1;
    grid-row: 2;
  }

  // メニュー表示時
  .hamburger-menu-active {
    max-height: f.rem(350);
  }

  // メニュー一覧
  .hamburger-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: f.rem(18);
    padding: f.rem(20) 0 f.rem(32);
    text-align: center;

    & li:last-child {
      background-color: v.$c-white;
      padding: f.rem(12) f.rem(32);
      border-radius: f.rem(30);

      & a {
        color: v.$c-green;
      }
    }
  }
}

/* PC版 */
@include v.mq(pc) {
  .hamburger-menu {
    display: flex;
    align-items: center;
    column-gap: f.rem(8);
  }

  .hamburger-nav-list {
    display: flex;
    flex-direction: row;
    gap: 2.8vw;
    align-items: center;
    justify-content: space-between;

    & li:last-child {
      background-color: v.$c-white;
      padding: 0 f.rem(16);
      border-radius: f.rem(30);

      & a {
        color: v.$c-green;
      }
    }
  }
}


#about,
#skills,
#works,
#writing,
#contact {
  scroll-margin-top: f.rem(100);

  @include v.mq(pc) {
    scroll-margin-top: f.rem(70);
  }
}